@font-face {
  font-family: 'BalooThambi2';
  src: url('../public/fonts/BalooThambi2-Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'BalooThambi2';
  src: url('../public/fonts/BalooThambi2-Bold.ttf');
  font-weight: bold;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
    font-family: BalooThambi2
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.bold {
  font-weight: bold !important;
}